.App{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.app_color_container{
  position: absolute;
  width: 200px;
  height: 200px;
  border: 2px solid black;

}